<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>East Parish Housing Ministry :: 404 - Document Not Found</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="http://www.ephm.org/"></base>
    <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.ephm.org/feed.rss" />
    
    <link rel="stylesheet" type="text/css" href="/layout/fancybox/jquery.fancybox-1.3.0.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/layout/css/master.css" />
    <link rel="stylesheet" type="text/css" href="/layout/css/main.css" />
    
    <script type="text/javascript" src="/layout/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/layout/js/jquery.example.min.js"></script>
    <script type="text/javascript" src="/layout/js/jquery.cycle.all.min.js"></script>
    <script type="text/javascript" src="/layout/fancybox/jquery.fancybox-1.3.0.pack.js"></script>
    <script type="text/javascript" src="/layout/js/master.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10443365-10']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>
  <body>
  		<div id="top-bar">
        	<ul>
            	<li><a href="/">home</a></li>
                <li><a href="/news">news</a></li>
                <li><a href="/photos">photos</a></li>
                <li><a href="/donate">donate</a></li>
            </ul>
        </div>
        <div id="wrapper">
  		<div id="wrapper-repeat">
        		<div id="header">
                	<a href="/" id="logo"><img src="/images/logo.png" alt="EPHM" height="131" width="487" /></a>
                    <span>2014 Industry Rd<br />
							Starks, ME 04911<br />
							207-491-5665<br />
							<a href="mailto:info@ephm.org">info@ephm.org</a></span>
                    <div id="nav">
                        <ul id="drop-nav">
                            <li><a href="/about">about</a>
                            	<ul>
                                	<li><a href="/history">History</a></li>
                                    <li><a href="/minutes">Meeting Minutes</a></li>
                                    <li><a href="/where-we-serve">Where We Serve</a></li>
                                    <li><a href="/who-we-are">Who We Are</a></li>
                                </ul>
                            </li>
                            <li><a href="/ministries">ministries</a>
                            	<ul>
                                    <li><a href="/christmas">Christmas</a></li>
                                    <li><a href="/food-pantry">Food Pantry</a></li>
                                    <li><a href="/thrift-shop">Helping Hands Thrift Shop</a></li>
                                    <li><a href="/housing">Housing</a></li>
                                    <li><a href="/vbs">Vacation Bible School</a></li>
                                </ul>
                            </li>
                            <li><a href="/homeowners">homeowners</a>
                            	<ul>
                                    <li><a href="/criteria">Criteria</a></li>
                                    <li><a href="/homeowners-faqs">FAQ</a></li>
                                    <li><a href="/services">Services</a></li>
                                </ul>
                            </li>
                            <li><a href="/workgroups">workgroups</a>
                            	<ul>
                                    <li><a href="/workgroups-faqs">FAQ</a></li>
                                    <li><a href="/places-to-stay">Places To Stay</a></li>
                                    <li><a href="/what-you-do">What You Do</a></li>
                                </ul>
                            </li>
                   
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
				</div>
                <div id="main">
                    <div id="content"> 
                    	<div class="content-header">	 </div>
                        <br class="clear" />                   
                    	<div class="content-left"><h1>Page Not Found</h1>
<p>Looks like you tried to go somewhere that does not exist... perhaps you'd like one of the following pages instead:</p>
<p>
<ul><li><a href="/index2" title="Home" >Home</a></li>
<li><a href="/contact" title="Contact" >Contact</a></li>
<li><a href="/blog" title="Blog" >Blog</a></li>
<li><a href="/workgroups" title="Workgroups" >Workgroups</a><ul><li><a href="/places-to-stay" title="Places To Stay" >Places To Stay</a></li>
<li><a href="/what-you-do" title="What You'll Be Doing" >What You'll Be Doing</a></li>
<li class="last"><a href="/workgroups-faqs" title="FAQs" >FAQs</a></li>
</ul></li>
<li><a href="/ministries" title="Ministries" >Ministries</a><ul><li><a href="/thrift-shop" title="Thrift Shop" >Thrift Shop</a></li>
<li><a href="/food-pantry" title="Food Pantry" >Food Pantry</a></li>
<li><a href="/housing" title="Housing" >Housing</a></li>
<li><a href="/vbs" title="Vacation Bible School" >Vacation Bible School</a></li>
<li class="last"><a href="/christmas" title="Christmas Gifts" >Christmas Gifts</a></li>
</ul></li>
<li><a href="/homeowners" title="Homeowners" >Homeowners</a><ul><li><a href="/homeowners-faqs" title="FAQs" >FAQs</a></li>
<li><a href="/services" title="Services" >Services</a></li>
<li class="last"><a href="/criteria" title="Criteria" >Criteria</a></li>
</ul></li>
<li><a href="/about" title="About" >About</a><ul><li><a href="/who-we-are" title="Who We Are" >Who We Are</a></li>
<li><a href="/history" title="History" >History</a></li>
<li class="last"><a href="/where-we-serve" title="Where We Serve" >Where We Serve</a></li>
</ul></li>
<li><a href="/donate" title="Donate" >Donate</a></li>
<li><a href="/testimonials" title="Testimonials" >Testimonials</a></li>
<li><a href="http://www.ephm.org/" title="Home" >Home</a></li>
<li><a href="/news" title="News" >News</a></li>
<li><a href="/photos" title="Photos" >Photos</a></li>
<li class="last"><a href="/minutes" title="Meeting Minutes" >Meeting Minutes</a></li>
</ul>
</p> </div>
                        <div class="content-right">
                        	<div id="breadcrumb"><span class="B_crumbBox"><span class="B_firstCrumb"><a class="B_homeCrumb" href="/index" title="Home">Home</a></span> &raquo; <span class="B_lastCrumb"><span class="B_currentCrumb">404 - Document Not Found</span></span></span></div>
                              
                              <!--<div id="applications">
                            	<h2 id="applications-header">Download Applications</h2>
                                <table id="tblApplications" cellpadding="0" cellspacing="0">
                                	<tr>
                                    	<td><a href="#" id="homeowner-app" class="app-links">Download Homeowner Application</a></td>
                                        <td><a href="#" id="workgroup-app" class="app-links">Download Workgroup Application</a></td>
                                    </tr>
                                </table>
                            </div>-->
                              <!--<div id="testimonials">
                            	<h2 id="testimonial-header">Testimonials</h2>
                                <span>“Etiam vitae felis mi, quis mattis massa. Fusce aliquam, lorem vel lobortis porta, leo ligula fermentum arcu, eget aliquet leo libero a ipsum. In a eros libero. Etiam sit amet enim urna. Suspendisse vitae mattis.”</span>
                                <a href="testimonials">More &gt;&gt;</a>
                            </div>-->
                        </div>
                        <br class="clear" />
                        <div class="content-full" id="bottom-images">
                        	<img src="/images/footer/1.jpg" alt="" height="161" width="216" class="first" />
                            <img src="/images/footer/2.jpg" alt="" height="161" width="216" />
                            <img src="/images/footer/3.jpg" alt="" height="161" width="216" />
                            <img src="/images/footer/4.jpg" alt="" height="161" width="216" />
                        </div>
                    </div>         
                </div>
                <br class="clear" />
        </div> <!-- END #wrapper -->
        </div>
        <div id="footer">
                	<a href="#" id="footer-logo">East Parish Housing Ministry</a>
                    <div id="social">
                    	<a href="http://www.facebook.com/eastparishhousingministry" target="_blank" id="facebook" class="social">Facebook</a>
                       <!-- <a href="http://www.vimeo.com" target="_blank" id="vimeo" class="social">Vimeo</a>-->
                        <a href="http://www.twitter.com/eastparishhouse" target="_blank" id="twitter" class="social">Twitter</a>
                        <!--<a href="http://www.flickr.com" target="_blank" id="flickr" class="social">Flickr</a>-->
                    </div>
                	<a href="http://www.sliceddesign.com" target="_blank" id="sd">Design and Hosting Donated by Sliced Design</a>                
                </div>
         <div id="footer-bar">
                <span>&copy; 2010 East Parish Housing Ministry, Inc. All Rights Reserved. &bull; 2014 Industry Rd &bull; Starks, ME 04911 &bull; (207) 491-5665 &bull; <a href="mailto:info@ephm.org">info@ephm.org</a></span> 
         </div>
  </body>
</html>